.lw-header {
  .lw-container {
    display: flex;
    align-items: center;
  }

  .lw-main-logo {
    max-width: 130px;
    min-width: 130px;
  }

  &__top {
    position: relative;
    padding: 15px 0;
    background-color: var(--header-top-color);

    @media (max-width: 1140px) {
      padding: 12px 0 8px;
    }

    .lw-secondary-text {
      padding: 0 5px;
      text-align: center;
      color: var(--white);
    }

    &-info {
      margin-right: auto;
      padding-left: 0;

      font-size: 12px;
      font-weight: 500;
      letter-spacing: 2.04px;
      text-transform: uppercase;

      @media (max-width: 1140px) {
        font-size: 8px;
        text-align: center;
        width: 100%;
      }
    }

    &-phone {
      font-weight: 300;

      b {
        font-weight: 500;
        font-size: 14px;
      }

      @media (max-width: 1140px) {
        display: none;
      }
    }

    &-worktime {
      font-weight: 300;

      b {
        font-weight: 500;
      }

      @media (max-width: 1140px) {
        display: none;
      }
    }
  }

  &__bottom {
    padding: 15px 0;
  }

  &__callback {
    display: none;
    max-width: 166px;
    font-size: 16px;
    font-weight: 500;

    svg {
      display: none;
      fill: var(--white);
    }

    @media (max-width: 1140px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      background-image: url("../assets/img/icon-phone.svg");
      background-size: 20px;
      background-repeat: no-repeat;
      background-color: var(--warning);
      background-position: center;

      margin-right: 20px;
      margin-left: auto;

      span {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }

  &__offer-btn {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 110px;
    min-height: 44px;
    border-radius: 28px;
    background: #f28700;

    @media (max-width: 1140px) {
      margin-right: 20px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
}

.lw-burger {
  display: none;
  @extend .btn-reset;
  @extend .flex-centered-content;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--warning);

  span {
    display: block;
    width: 18px;
    height: 2px;
    margin: 2px 0;
    background-color: var(--white);
  }

  @media (max-width: 1140px) {
    display: flex;
  }
}
