.lw-info-card {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 100%;
  min-height: 180px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color var(--main-transition);

  &:hover {
    background-color: var(--success);

    .lw-secondary-text {
      svg {
        fill: var(--main-text-color);
      }
    }
  }

  border-radius: 2px;
  border: 1px solid var(--success);
  background-color: var(--info-card-bg);

  img {
    display: block;
    width: auto;
    height: 100%;
    max-height: 262px;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    height: 100%;
  }

  .lw-secondary-text {
    margin-top: auto;
    padding-top: 20px;
    font-weight: 500;

    svg {
      width: 10px;
      height: 10px;
      fill: var(--success);
      margin-left: 5px;
      transition: fill var(--main-transition);
    }
  }
}
