-
  const arr = [
    {
      title: 'Ферментирован на 100% живыми бифидобактериями',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,

      type: 'modal-trigger',
      modal: 'modal-id-1'
    },
    {
      title: 'Эффективность подтверждена 37-ю клиническими исследованиями',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      type: 'modal-trigger',
      modal: 'modal-id-2'
    },
    {
      title: 'По пробиотикам «Биовестин» защищены 15 научных работ',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      type: 'modal-trigger',
      modal: 'modal-id-3'
    },
    {
      title: 'Производится по стандартам фармацевтической промышленности',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      type: 'modal-trigger',
      modal: 'modal-id-4'
    },
    {
      title: '«Биовестин» вышел на рынок стран Азии и Европы',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      type: 'modal-trigger',
      modal: 'modal-id-5'
    },
  ]
