-
  const arr = [
    {
      title: 'Ферментирован на 100% живыми бифидобактериями',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      linkPosition: 'left'
    },
    {
      title: 'Эффективность подтверждена 37-ю клиническими исследованиями',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      linkPosition: 'left'
    },
    {
      title: 'По пробиотикам «Биовестин» защищены 15 научных работ',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      linkPosition: 'left'
    },
    {
      title: 'Производится по стандартам фармацевтической промышленности',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      linkPosition: 'left'
    },
    {
      title: '«Биовестин» вышел на рынок стран Азии и Европы',
      linkUrl: '#',
      linkTitle: 'Подробнее',
      linkIcon: true,
      linkPosition: 'left'
    },
  ]
