.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);

    @media (max-width: 1240px) {
      padding: 0 60px;
    }

    @media (max-width: 1024px) {
      padding: 0 40px;
    }

    @media (max-width: 960px) {
      padding: 0 30px;
    }

    @media (max-width: 768px) {
      padding: 0 20px;
    }

    @media (max-width: 534px) {
      padding: 0 15px;
    }
  }

  // &-container-fluid {
  //   width: 100%;
  //   margin: 0 auto;
  //   padding: 0 var(--container-offset);
  //   max-width: var(--container-fluid-width);
  // }

  &-base-title {
    display: inline-block;
    font-size: clamp(18px, 5vw, 28px);
    margin: 0;
    margin-bottom: 20px;

    @supports not (font-size: clamp(18px, 3.5vw, 28px)) {
      font-size: 28px;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 534px) {
        font-size: 18px;
      }
    }

    font-weight: 700;
    letter-spacing: -0.28px;
    color: var(--main-text-color);

    &--lighter {
      color: var(--light-color);
    }

    &--white {
      color: var(--white);
    }
  }

  &-base-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-text-color);

    &--white {
      color: var(--white);
    }
  }

  &-secondary-text {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: var(--main-text-color);

    &--white {
      color: var(--white);
    }
  }

  &-smaller-text {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    color: var(--main-text-color);

    &--white {
      color: var(--white);
    }
  }

  &-text-thin {
    font-weight: 300;
  }

  &-text-medium {
    font-weight: 500;
  }

  &-text-semi {
    font-weight: 600;
  }

  &-text-bold {
    font-weight: 700;
  }

  &-main-btn {
    @extend .btn-reset;
    @extend .flex-centered-content;

    width: 100%;
    max-width: 274px;

    font-size: 16px;
    font-weight: 500;

    padding: 10px;

    border-radius: 2px;
    border: 1px solid var(--white);
    // background: linear-gradient(91deg, #f9ad2e 0%, #f28700 100%);
    background-color: var(--warning);

    color: var(--white);
    &:not(.lw-main-btn--outlined):not(.lw-main-btn--secondary) {
      @extend .clear-bg-by-hover;
    }

    &--outlined {
      background: none;
      background-color: transparent;

      @extend .fill-bg-on-hover;
    }

    &--secondary {
      color: var(--base-text-color);
      background: none;
      background-color: var(--white);
    }
  }
}
