nav.lw-footer-nav
  ul.lw-footer-nav__list
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text Биовестин
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text О пробиотиках
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text Где купить
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text Отзывы
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text О производителе
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text Пресса
    li.lw-footer-nav__list-item
      a(href="#").lw-secondary-text Контакты








