nav.lw-footer-nav
  ul.lw-footer-nav__list
    li.lw-footer-nav__list-item
      a(href="lw-preview").lw-secondary-text.lw-anchor-link Биовестин
    li.lw-footer-nav__list-item
      a(href="lw-about").lw-secondary-text.lw-anchor-link О пробиотиках
    li.lw-footer-nav__list-item
      a(href="lw-info-section--bottom").lw-secondary-text.lw-anchor-link Где купить
    li.lw-footer-nav__list-item
      a(href="lw-reviews").lw-secondary-text.lw-anchor-link Отзывы
    li.lw-footer-nav__list-item
      a(href="lw-company").lw-secondary-text.lw-anchor-link О производителе
    li.lw-footer-nav__list-item
      a(href="lw-press").lw-secondary-text.lw-anchor-link Пресса
    li.lw-footer-nav__list-item
      a(href="lw-contacts").lw-secondary-text.lw-anchor-link Контакты








