nav.lw-main-nav
  ul.lw-main-nav__list
    li.lw-main-nav__list-item
      a(href="lw-preview").lw-anchor-link Биовестин
    li.lw-main-nav__list-item
      a(href="lw-about").lw-anchor-link О пробиотиках
    li.lw-main-nav__list-item
      a(href="lw-info-section--top").lw-anchor-link Где купить
    li.lw-main-nav__list-item
      a(href="lw-reviews").lw-anchor-link Отзывы
    li.lw-main-nav__list-item
      a(href="lw-company").lw-anchor-link О производителе
    li.lw-main-nav__list-item
      a(href="lw-press").lw-anchor-link Пресса
    li.lw-main-nav__list-item
      a(href="lw-contacts").lw-anchor-link Контакты

  button(type="button").lw-main-nav__closer
    svg(width="20" height="20")
      use(xlink:href="./assets/sprite.svg#icon-close")
