extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./views/index-page-view

block modals
  include ./modals/modal_id_1
  include ./modals/modal_id_2
  include ./modals/modal_id_3
  include ./modals/modal_id_4
  include ./modals/modal_id_5
