include ../mixins/about-modal-tpl

+about-modal-tpl({
  id: 'modal-id-2',
  imgPath: 'modal-img-2',
  title: 'Эффективность доказана клиническими исследованиями',
  content: '<p>Состав “Биовестина” и “Биовестина-Лакто” разработан вирусологами и биотехнологами, а его эффективность подтверждена многочисленными клиническими исследованиями. В течение 25 лет по “Биовестину” было защищено 11 кандидатских и 4 докторских диссертации</p><p>В производстве продукта используются абсолютно безопасные, проверенные и немодифицированные штаммы бифидобактерий без консервантов и искусственных добавок</p>'
})
