include ../mixins/about-modal-tpl

+about-modal-tpl({
  id: 'modal-id-1',
  imgPath: 'modal-img-1',
  title: '100% живых бифидобактерий и их метаболитов',
  content: '<p>Жидкие пробиотики Биовестин, в отличие от сухих в капсулах и порошках, начинают действовать с момента поступления.<br>Они снимают острые расстройства ЖКТ, нормализуют пищеварение, благотворно влияют на иммунитет и общее самочувствие</p><p>Регулярный приём Биовестина курсами 4-6 недель раз в квартал помогает поддерживать здоровье микрофлоры и организма в целом</p>'
})
