include ../mixins/about-modal-tpl

+about-modal-tpl({
  id: 'modal-id-5',
  imgPath: 'modal-img-5',
  title: '«Биовестин» вышел на рынок стран Азии и Европы',
  content: '<ul><li><span>С 2004 год</span> а в городе Куньмин на юго-западе Китая работает совместное российско-китайское предприятие «Био-Весты» по производству пробиотических БАД</li><li><span>С 2012 года</span> «Биовестин» активно реализуется в аптеках крупных городов Казахстана</li><li><span>В 2016 году</span> состоялось подписание экспортного контракта с Болгарской компанией ХУМАНО, ООД. Поставки «Биовестина» в Болгарию осуществляются регулярно и не прекратились даже во время пандемии COVID-19. Его используют в основном для реабилитации онкологических пациентов</li><li><span>В 2020</span> заключено пять новых экспортных контрактов (Польша, Чехия, Португалия, Киргизия, новый дистрибьютор в Казахстане)</li></ul>'
})

