include ../mixins/about-modal-tpl

+about-modal-tpl({
  id: 'modal-id-4',
  imgPath: 'modal-img-4',
  title: 'Производится по стандартам менеджмента безопасности',
  content: '<p>В 1992 году сотрудники центра вирусологии и биотехнологии «Вектор» в Кольцово разработали жидкий концентрат бифидобактерий Биовестин, в 1996 году продукт начал продаваться в аптеках Новосибирска, а в 2003 году зарегистрирован патент на технологию производства жидких пробиотиков</p>'
})
