include ../mixins/about-modal-tpl

+about-modal-tpl({
  id: 'modal-id-3',
  imgPath: 'modal-img-3',
  title: 'По исследованию эффективности «Биовестинов» защищены 15 научных работ',
  content: '<p>За последние 5 лет написано 9 статей на различные медицинские темы, включая поддержание здоровья детей школьногои дошкольного возраста, применение пробиотиковдля оздоровления спортсменов, а также влияние бифидобактерий на здоровье и качество жизни онкобольных</p><p>В более раннем периоде эффективность приема Биовестина для разных групп населения отражена еще более чем в 25 статьях в реферируемых журналах</p>'
})
