.lw-modal.active {
  .lw-modal-overlay {
    display: flex;
    animation: fadeIn 0.3s 0.1s ease-in forwards;
  }

  .lw-modal-body {
    animation: showModalBody 0.3s 0.1s ease-in forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showModalBody {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.lw-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

.lw-about-modal-body {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  width: 100%;
  max-width: 960px;
  height: fit-content;
  max-height: 600px;

  padding: 30px;
  background-color: var(--white);
  transform: translateY(20px);
  .lw-base-title {
    font-size: clamp(18px, 5vw, 22px);
  }

  ul {
    padding-left: 20px;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      span {
        font-weight: 700;
        color: var(--warning);
      }
    }
  }
}

.lw-about-modal-closer {
  @extend .btn-reset;
  position: absolute;

  top: -60px;
  right: -60px;

  width: 38px;
  height: 38px;

  svg {
    fill: var(--white);
  }
}
