.lw-modal.active {
  .lw-modal-overlay {
    display: flex;
    animation: fadeIn 0.3s 0.1s ease-in forwards;
  }

  .lw-modal-body {
    animation: showModalBody 0.3s 0.1s ease-in forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showModalBody {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.lw-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.5);
}
