//- data: {
//-   imgPath: Image,
//-   imgWidth: String,
//-   imgHeight: String,
//-   title: String,
//-   text: String,
//-   linkUrl: String,
//-   linkTitle: String,
//-   linkIcon: Boolean,
//-   linkPosition: String
//- }

mixin info-card(data)
  a(href="index.html").lw-info-card
    //if data.img
      img(src= data.imgPath alt= data.title width= data.imgWidth height= data.imgHeight)

    if data.title
      span.lw-base-text!= data.title

    //if data.text
      span!= data.text

    if data.linkUrl
      span(class= data.linkPosition = 'right' ? 'lw-info-card__more--pos-right' : null ).lw-secondary-text!= data.linkTitle
        svg(width="10" height="10")
          use(xlink:href="./assets/sprite.svg#icon-arrow")

