include ../../mixins/info-card
include ../../content/about-cards

section.lw-section.lw-about
  .lw-container
    .lw-about__top
      .lw-about__top-section.lw-about__top-section--preview
        img(src="./assets/img/about-img.jpg" alt="«Биовестин» первый в России жидкий пробиотик" width="568" height="358")
      .lw-about__top-section.lw-about__top-section--content
        h2.lw-base-title «Биовестин» первый в России жидкий пробиотик
        p.lw-secondary-text «Биовестин» — это жидкие пробиотики для поддержания высокого качества здоровья и долголетия <span>от резидента Биотехнопарка «Кольцово»</span> и Технопарка Новосибирского Академгородка»

      each item of arr
        .lw-about__top-section
          +info-card(item)

    .lw-about__bottom
      .lw-about__bottom-content
        span.lw-base-title.lw-base-title--lighter Продукция компании «Био-Веста» неоднократно получала награды в конкурсах за выдающиеся заслуги в молочной промышленности

        ul
          li.lw-base-text «Сто лучших товаров России»
          li.lw-base-text «Лучшие товары и услуги - ГЕММА»
          li.lw-base-text «Экспортер года»
          li.lw-base-text и многие другие награды

      img(src="./assets/img/lw-about-footer-img.png" alt="Награды" width="360" height="300")


