include ../../mixins/activity-card

section.lw-section.lw-company
  .lw-container
    .lw-company__top
      .lw-company__top-content
        h2.lw-base-title «Биовестин» и «Биовестин-Лакто» производит группа компаний «Био&nbsp;-&nbsp;Веста»

        p.lw-base-text Предприятие основано в 1994 году сотрудниками государственного научного центра вирусологии и биотехнологии «Вектор», Кольцово (Новосибирская область).

        p.lw-base-text Уже более 25 лет мы занимаемся разработкой продуктов функционального питания и корректоров микрофлоры.

        p.lw-base-text Био-Веста произвела 72 миллиона порций бактерий. Это 1,3 млн месячных курсов. Более 500 000 потребителей в 87 городах РФ смогли восстановить или укрепить свою микрофлору

      .lw-company__top-gallery
        .swiper
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/img/lw-company-slide-1.jpg" alt="Слайд1" width="560" height="300")
            .swiper-slide
              img(src="./assets/img/lw-company-slide-2.jpg" alt="Слайд2" width="560" height="300")
            .swiper-slide
              img(src="./assets/img/lw-company-slide-3.jpg" alt="Слайд3" width="560" height="300")
            .swiper-slide
              img(src="./assets/img/lw-company-slide-4.jpg" alt="Слайд4" width="560" height="300")
            .swiper-slide
              img(src="./assets/img/lw-company-slide-5.jpg" alt="Слайд5" width="560" height="300")

          .swiper-pagination

    .lw-company__bottom.lw-activity
      span.lw-base-text.lw-activity__title Наша деятельность:

      +activity-card({
        title: 'Исследования и разработка',
        text: 'Научно-исследовательская и опытно-конструкторская деятельность в области технологии производства и контроля качества продуктов функционального питания и БАДов'
      })

      +activity-card({
        title: 'Технологичное производство',
        text: 'Продукты функционального питания и биологически активные добавки'
      })

      +activity-card({
        title: 'Консультационная деятельность',
        text: 'Информационно-справочные услуги'
      })
