section.lw-section.lw-contacts
  .lw-container.lw-contacts__container
    .lw-contacts__content
      h2.lw-base-title Наши контакты
      span.lw-base-text.lw-text-thin <strong>Производитель: компания «БИО-ВЕСТА»</strong><br>Резидент Биотехнопарка «Кольцово» и Академпарка

      .lw-contacts__content-row
        img(src="./assets/img/phone-icon.svg" alt="Адрес" width="14" height="14")
        a(href="tel:+78005003343").lw-contacts__content-row-text +7 (800) 500-33-43
        small.lw-text-smaller.lw-text-thin * Звоните ежедневно с 5 до 20 по (МСК)

      .lw-contacts__content-row
        img(src="./assets/img/map-pin-icon.svg" alt="Адрес" width="14" height="18")
        span.lw-contacts__content-row-text г. Новосибирск, ул. Лесосечная, 3/1

      .lw-contacts__content-row
        img(src="./assets/img/mail-icon.svg" alt="Email" width="14" height="10")
        a(href="mailto:mail@biovesta.ru").lw-contacts__content-row-text mail@biovesta.ru


      .lw-contacts__content-bottom
        ul.social-list
          li.social-list__item
            a(href="#" rel="nofollow noopener noreferrer")
              img(src="./assets/img/youtube-icon.svg" alt="youtube" width="40" height="26")

          li.social-list__item
            a(href="#" rel="nofollow noopener noreferrer")
              img(src="./assets/img/tg-icon.svg" alt="telegramm" width="40" height="32")

          li.social-list__item
            a(href="#" rel="nofollow noopener noreferrer")
              img(src="./assets/img/vk-icon.svg" alt="vkontake" width="40" height="25")

        a(href="#").lw-main-page-link
          svg(width="10" height="10")
            use(xlink:href="./assets/sprite.svg#icon-arrow")
          span Перейти на главную страницу

    .lw-contacts__map
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac2030a6e6715f737935d007adc97b70d0ee9d7d21c0f744f73046951ccbc20a4&amp;source=constructor" width="600" height="400"></iframe>
    span.lw-contacts__banner БАД. НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВОМ. ДЕТЯМ ДО 14 ЛЕТ требуется КОНСУЛЬТАЦИЯ ПЕДИАТРА

