section.lw-section.lw-features
  .lw-container.lw-features__container
    img(src="./assets/img/features-img.png" alt="Зачем нужны пробиотики" width="600" height="600").lw-features__image

    .lw-features__content
      h2.lw-base-title Зачем нужны пробиотики

      ul.lw-features__list
        li.lw-features__list-item
          .lw-features__list-item-side
            img(src="./assets/img/features-icon-1.png" alt="Укрепляют иммунитет" width="48" height="48")
            span.lw-features__list-item-title Укрепляют иммунитет
          .lw-features__list-item-side
            span.lw-smaller-text Влияя на все звенья иммунитета, нормализуют иммунный ответ как на бактериальные, так и на вирусные инфекции. На 30-50% снижают риск заболевания ОРВИ и ротавирусными инфекциями

        li.lw-features__list-item
          .lw-features__list-item-side
            img(src="./assets/img/features-icon-2.png" alt="Улучшают пищеварение" width="46" height="37")
            span.lw-features__list-item-title Улучшают пищеварение
          .lw-features__list-item-side
            span.lw-smaller-text Нормализуют работу ЖКТ и устраняют неприятные симптомы синдрома раздражённого кишечника (диарея, запоры, метеоризм и т.д.)

        li.lw-features__list-item
          .lw-features__list-item-side
            img(src="./assets/img/features-icon-3.png" alt="Выводят токсины" width="58" height="41")
            span.lw-features__list-item-title Выводят токсины
          .lw-features__list-item-side
            span.lw-smaller-text Разрушают токсины, снижая их концентрацию в крови и облегчают работу печени, убирают ощущение усталости и тяжести в правом подреберье

        li.lw-features__list-item
          .lw-features__list-item-side
            img(src="./assets/img/features-icon-4.png" alt="Устраняют аллергию" width="66" height="39")
            span.lw-features__list-item-title Устраняют аллергию
          .lw-features__list-item-side
            span.lw-smaller-text Снижают проницаемость кишечной стенки, препятствуют проникновению в кровь аллергенов, токсинов и патогенных бактерий. Снижают риск развития аутоиммунных заболеваний

        li.lw-features__list-item
          .lw-features__list-item-side
            img(src="./assets/img/features-icon-5.png" alt="А также:" width="42" height="44")
            span.lw-features__list-item-title А также:
          .lw-features__list-item-side
            span.lw-smaller-text Снижают уровень сахара и холестерина в крови; помогают организму усваивать витамины и микроэлементы; способствует выработке витаминов и других веществ, полезных для здоровья; помогают в нормализации веса
