include ../sections/index-page/about
include ../sections/index-page/info-section-top-side
include ../sections/index-page/features
include ../sections/index-page/comparison
include ../sections/index-page/product
include ../sections/index-page/callback
include ../sections/index-page/company
include ../sections/index-page/info-section-bottom-side
