footer.lw-footer
  .lw-container.lw-footer__container
    .lw-footer__side
      include ../components/main-logo

    .lw-footer__side
      include ../components/footer-nav

      span.lw-smaller-text Биовестин® , Биовестин-Лакто® – БАД; Биовестин-А® - биопродукт.
      span.lw-smaller-text Рег. номера: RU.77.99.88.003.E001573.04.16; RU.77.99.88.003.E/001121/03/16.
      span.lw-smaller-text Официальный дилер ООО «Био-Веста» ИП Березкина Наталья Михайловна, ИНН 540116047198, ОГРНИП 320547600058076



