header.lw-header
  .lw-header__top
    .lw-container
      span.lw-secondary-text.lw-header__top-info Официальный сайт производителя
      span.lw-secondary-text.lw-header__top-phone Консультация врача: <b>+ 7 (800) 500-33-43</b>,
      span.lw-secondary-text.lw-header__top-worktime ежедневно с 5:00 до 20:00 Мск. <b>Звонок бесплатный</b>

  .lw-header__bottom
    .lw-container
      include ../components/main-logo
      include ../components/main-nav

      a(href="tel:88005003343").lw-main-btn.lw-main-btn--outlined.lw-header__callback
        span Позвонить
      <button class="lw-main-btn lw-header__offer-btn" type="button" data-action="open-popup" data-popup="order-popup">Заказать</button>

      button(type="button" aria-label="Открыть меню").lw-burger
        span.lw-burger__line
        span.lw-burger__line
        span.lw-burger__line
