:root {
  --white: #ffffff;
  --black: #000000;

  --gray: #f8f8f8;
  --gray-2: #f1f5f9;

  --basic-green: #b7e979;
  --success: var(--basic-green);
  --info-card-bg: var(--gray);
  --light-color: #555555;
  --green: #65a43f;
  --lightgreen: #b7e979;
  --warning: #f28700;

  --main-text-color: #333333;
  --main-bg-color: var(--white);
  --gray-bg-color: var(--gray-2);
}
